
:root {
  --sans-serif: sans-serif;
}

.blue {
  background-color: #EFF6FF;
}

.bluetext {
  --tw-text-opacity: 1;
  color: rgba(191, 219, 254, var(--tw-text-opacity));

}

span.blueb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(96, 165, 250, var(--tw-bg-opacity));
  color: white;
}

.bluebnohover {
  --tw-bg-opacity: 1;
  background-color: rgba(96, 165, 250, var(--tw-bg-opacity));
  color: white;
}

.barwidth {
  max-width: 1400px;
}

.extrasdimensions {
  height: 850px;
  max-width: 1200px;
}

.imgsize {
  height: 16rem;
  width: 33.333333%;
}

.navflex {
  flex: none;
}

.navw {
  width: auto;
}

.padding {
  padding: 10rem;
}

.content_img{
 position: relative;
 width: 28%;
 float: none;
}

.content_img div{
  position: absolute;
  bottom: 0;
  right: 5;
  margin-bottom: 9px;
  padding: 94.5px 0px;
  width: 95.6%;
  background: black;
  color: white;
  font-family: sans-serif;
  opacity: 0.7;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover div{
 opacity: 0.4;
}


@media screen and (max-width:1023px) {
  .imgsize {
    height: 14rem;
    width: 50%
  }
  .padding {
    padding: 5rem;
  }
  .content_img {
    width: 50%;
  }
}

@media screen and (max-width:1023px) {
        .navflex {
          flex: 1 1 0%
        }
}

.dot {
  height: 73px;
  width: 73px;
  background-color: white;
  border-radius: 50%;
  margin: 15px 10px;
  display: inline-block;
}

.roundedimg {
    height: 95%;
    width: 95%;
    margin: 2px 2px;
    background-position: 50% 50%;
    object-fit: cover;
}

html {
  scroll-behavior: smooth;
}
